@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission06_plessem.Models.ApplicationResponse

<h2>@Model.Title has been submitted to the Movie Database</h2>